body{
    max-width: 1000px;
    margin: 15px auto 15px auto;
}

.card{
    margin-bottom: 10px;
    max-width: 215px;
    background-color: rgb(233, 233, 233);
}

.cards{
    margin: auto;
}

h1{
    text-align: center;
    margin-bottom: 15px;
}

.card:hover{
    background-color: black;
    color: white;
}